{% extends "base.html" %}

{% load main_tags %}
{% load disqus_tags %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/account.css"/>
{% endblock %}

{% block content %}

<div id="post_detail" class="account_content">
  <h1>
    {% if post.author == request.user %}
    <a href="{% url "post_edit" post_id=post.id  %}" class="button green">Редактировать</a>
    {% endif %}
    <div class="ico target-{{ post.search_target }}"></div>
    {% if post.search_target %}Ищу пассажира{% else %}Ищу попутку {% endif %}
  </h1>

  <div class="clearfix">
    <table>
      <tbody>
        <tr>
          <td class="label level-1">Муршрут</td>
          <td class="label level-2" >Откуда</td>
          <td class="value">{{ post.start_point.name|default_if_none:post.start_point.city.name }}</td>
        </tr>
        <tr>
          <td class="label level-1"> </td>
          <td class="label level-2">Куда</td>
          <td class="value">{{ post.end_point.name|default_if_none:post.end_point.city.name }}</td>
        </tr>
        {% if post.trip_type == 0 %}
        <tr>
          <td class="label level-1"> </td>
          <td class="label level-2">Город</td>
          <td class="value">{{ post.start_point.city.name }}</td>
        </tr>
        {% endif %}
        <tr class="divider"></tr>
        <tr>
          <td class="label level-1">Выезд</td>
          <td class="label level-2">
            {% if post.trip_mode == 1 %}Дата{% else %}Дни недели{% endif %}
          </td>
          <td class="value">
            {% if post.trip_mode == 1 %}
            {{ post.single_departure|date:"d-m-Y H:i" }}
            {% else %}
            {{ post.regular_days|week_days_ru }}
            {% endif %}
          </td>
        </tr>
        {% if post.trip_mode == 0 %}
        <tr>
          <td class="label level-1"> </td>
          <td class="label level-2">Время</td>
          <td class="value">{{ post.regular_departure|date:"H:i"|default_if_none:"" }}</td>
        </tr>
        {% endif %}

        <tr class="divider"></div>

        {% if post.search_target == 1 %}
        <tr>
          <td class="label level-1">Свободных мест</td>
          <td class="value">{{ post.places }}</td>
          <td></td>
        </tr>
        <tr>
          <td class="label level-1">Автомобиль</td>
          <td class="value ">{{ post.car_info }}</td>
          <td></td>
        </tr>
        <tr>
          <td class="label level-1">Стоимость</td>
          <td class="value cost">{{ post.places }} грн.</td>
          <td></td>
        </tr>
        {% endif %}
      </tbody>
    </table>

    <h1> </h1>
    <table>
      <tbody>
        <tr>
          <td class="label level-1">Подробности</td>
          <td class="label level-2">Курение</td>
          <td class="value">{{ post.author.get_profile.get_smoking_display }}</td>
        </tr>
        <tr>
          <td class="label level-1"> </td>
          <td class="label level-2">Музыка</td>
          <td class="value">{{ post.author.get_profile.music|default:"Любая"}} </td>
        </tr>
      </tbody>
    </table>
    <h1> </h1>
    <div id="author_info">
      <img width="90" height="90" src="{% if post.author.get_profile.photo %}/{{ post.author.get_profile.photo.url }}{% else %}{{ STATIC_URL }}img/default_user.png {% endif %}" />
    </div>
    <table>
      <tbody>
        <tr>
          <td class="label level-1">Автор</td>
          <td class="label level-2">Имя</td>
          <td class="value">
            <a href="{% url "view_profile" profile_id=post.author.pk %}">
              {{ post.author.get_full_name }}
            </a>
          </td>
        </tr>
        {% if post.author.get_profile.phone %}
        <tr>
          <td class="label level-1"></td>
          <td class="label level-2">Телефон</td>
          <td class="value">{{ post.author.get_profile.phone }}</td>
        </tr>
        {% endif %}
        {% if post.author.get_profile.social_network_link %}
        <tr>
          <td class="label level-1"></td>
          <td class="label level-2">Страница в соц сети</td>
          <td class="value">
            <a href="{{ post.author.get_profile.social_network_link }}" target="blank">
              {{ post.author.get_profile.social_network_link }}
            </a>
          </td>
        </tr>
        {% endif %}
        {% if post.author.get_profile.skype_name %}
        <tr>
          <td class="label level-1"> </td>
          <td class="label level-2">Skype</td>
          <td class="value">{{ post.author.get_profile.skype_name }}</td>
        </tr>
        {% endif %}
        {% if post.author.get_profile.icq %}
        <tr>
          <td class="label level-1"> </td>
          <td class="label level-2">ICQ</td>
          <td class="value">{{ post.author.get_profile.icq }}</td>
        </tr>
        {% endif %}
        <tr>
          <td class="label level-1"> </td>
          <td class="label level-2">Сообщеие</td>
          <td class="value">
            <a href="{% url "messages_compose_to" recipient=post.author %}" class="button green">
              Написать
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <h1> </h1>
    {% if post.additional_info %}
    <table>
      <tbody>
        <tr>
          <td>Допольнительная информация</td>
        </tr>
        <tr>
          <td>{{ post.additional_info }}</td>
        </tr>
      </tbody>
    </table>
    {% endif %}
  </div>

<h1>Комментарии</h1>
{% disqus_show_comments %}
</div>

{% endblock %}
