{% extends "base.html" %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/account.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}3party/timepicker/jquery.timepicker.css"/>
{% endblock %}

{% block js_extra %}
<script type="text/javascript" src="{{ STATIC_URL }}3party/timepicker/jquery.timepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/post_add.js"></script>
{% endblock %}

{% block content %}
<div id="post_add" class="account_content">
  <h1>Добавить обьявление</h1>
  
  <form action="" method="POST" >
    {% csrf_token %}
    <div class="clearfix">
      {{ form.author.as_hidden }}
      <ul class="info">
        <li>
          <span class="label">{{ form.search_target.label }}</span>
          <span class="value">{{ form.search_target }}</span>
        </li>

        <li>
          <span class="label">{{ form.places.label }}</span>
          <span class="value">{{ form.places }}</span>
          <span class="errors">{{ form.places.errors|lower }}</span>
        </li>

        <li class="driver_field">
          <span class="label">{{ form.car_info.label }} </span>
          <span class="value">{{ form.car_info }}</span>
        </li>

        <li class="driver_field">
          <span class="label">{{ form.cost.label }}</span>
          <span class="value">{{ form.cost }}</span> грн.
          <span class="errors">{{ form.cost.errors|lower }}</span>
        </li>
      </ul>
    </div>
    
    <div class="clearfix city route-form">
      <h2>Маршрут</h2>
      <ul class="info">
        <li>
          <span class="label">Откуда</span>
          <span class="value">{{ form.start }}</span>
        </li>
        <li>
          <span class="label">Куда</span>
          <span class="value">{{ form.end }}</span>
        </li>
      </ul>
    </div>
        
    <div class="clearfix">
      <h2>График</h2>
      <ul class="info">
        <li>
          <span class="label">График поездки</span>
          <span class="value">{{ form.trip_mode }}</span>
        </li>
        <li class="regular trip-mode">
          <span class="label">Дни недели</span>
          <span class="value">
            <label for="mon">
              <input name="mon" id="mon" type="checkbox" {% if 'mon' in form.regular_days.value %} checked="checked"{% endif %} />
              Пн
            </label>
            <label for="tue">
              <input name="tue" id="tue" type="checkbox" {% if 'tue' in form.regular_days.value %} checked="checked"{% endif %} />
              Вт
            </label>
            <label for="wed">
              <input name="wed" id="wed" type="checkbox"  {% if 'wed' in form.regular_days.value %} checked="checked"{% endif %} />
              Ср
            </label>
            <label for="thu">
              <input name="thu" id="thu" type="checkbox" {% if 'thu' in form.regular_days.value %} checked="checked"{% endif %} />
              Чт
            </label>
            <label for="fri">
              <input name="fri" id="fri" type="checkbox"  {% if 'fri' in form.regular_days.value %} checked="checked"{% endif %} />
              Пт
            </label>
            <label for="sat">
              <input name="sat" id="sat" type="checkbox"  {% if 'sat' in form.regular_days.value %} checked="checked"{% endif %} />
              Сб
            </label>
            <label for="sun">
              <input name="sun" id="sun" type="checkbox" {% if 'sun' in form.regular_days.value %} checked="checked"{% endif %} />
              Вс
            </label>
          </span>
        </li>
        <li class="regular trip-mode">
          <span class="label">Время выезда</span>
          <span class="value">{{ form.regular_departure }}</span>
        </li>
        <li class="single trip-mode" style="display:none">
          <span class="label">Выезжаю</span>
          <span class="value">{{ form.single_departure }}</span>
        </li>
      </ul>
    </div>
    
    <div class="clearfix">
      <h2>{{ form.additional_info.label }}</h2>
      {{ form.additional_info }}
    </div>
    
    <div class="clearfix">
      <input class="button green big" type="submit" value="Сохранить">
    </div>
    
  </form>
</div>
{% endblock %}
