{% load main_tags %}
<li>
  <div class="post-col col-1 ">
    <a href="{% url "view_profile" profile_id=post.author.get_profile.pk %}" class="profile-link">
      {{ post.author.get_full_name }}
    </a>
    <br>

    <br>   
    <div class="ico target-{{ post.search_target }}"></div>

  </div>

  <div class="post-col col-2">
    <h2>
      <a href="{% url "post_detail" post_id=post.pk %}" class="post-detail-link">
        {{ post.start_point.display|capfirst }} - {{ post.end_point.display|capfirst }}
        {% if post.trip_type == 0 %}
        ({{ post.start_point.city.name }})
        {% endif %}
        {% if post.author == request.user %}
        <a href="{% url "post_edit" post_id=post.id  %}" class="edit-post control" title="Редактировать"></a>
        <a href="#" class="delete-post control" id="delete-{{ post.id }}" title="Удалить"></a>
        {% endif %}
      </a>
    </h2>
    <div>
      {% if post.trip_mode == 0 %}
      {{ post.regular_days|week_days_ru }}
      {{ post.regular_departure|date:"H:i"|default_if_none:"" }}
      {% else %} 
      {{ post.single_departure|date:"d-m-Y H:i" }}
      {% endif %} 
    </div>
  </div>
  
  <div class="post-col col-3">
    <a href="{% url "view_profile" profile_id=post.author.pk %}">
      <img src="{% if post.author.get_profile.photo %}/{{ post.author.get_profile.photo.url }}
                {% else %}{{ STATIC_URL }}img/default_user.png{% endif %}"
           height="100px" 
           width="100px" 
           title="{{ post.author.get_full_name }}" />
    </a>
    {% if post.author != request.user %}
    <a href="{% url "messages_compose_to" recipient=post.author %}" class="message_compose button green">
      Написать
    </a>    
    {% endif %}
  </div>

</li>
