{% load main_tags %}
<li>
  <div class="right-column">
    <b>
      <a href="{% url "view_profile" profile_id=item.author.get_profile.pk %}" class="profile-link">
        {{ item.author.get_full_name }}
      </a>
    </b>
    <br>

    {% if item.trip_type == 0 %}
    <label>Город:</label><b>{{ item.start_point.city.name }}</b>
    {% else %}
    <label>Межгород</label>
    {% endif %}
    <br>

    <label>Откуда:</label><b>{{ item.start_point.display|capfirst }}</b> <br>
    <label>Куда:</label><b>{{ item.end_point.display|capfirst }}</b> <br>

    <div>
      {% if item.trip_mode == 0 %}
      {{ item.regular_days|week_days_ru }}
      {{ item.regular_departure|date:"f"|default_if_none:"" }}
      {% else %}
      {{ item.single_departure }}
      {% endif %}
    </div>

    <a href="{% url "post_detail" post_id=item.pk %}" class="post-detail-link">Подробнее</a>
    {% if item.author != request.user %}
    <a href="{% url "messages_apply" post_id=item.pk %}" class="post-accept-link">Поехали!</a>
    {% endif %}

  </div>

  <div class="left-column">
    <a href="{% url "view_profile" profile_id=item.author.pk %}">
      <img src="{% if item.author.get_profile.photo %}/{{ item.author.get_profile.photo.url }}
                {% else %}{{ STATIC_URL }}img/default_user.png{% endif %}"
           height="90px"
           width="90px"
           title="{{ item.author.get_full_name }}" />
    </a>
  </div>

</li>
