{% extends "base.html" %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/account.css"/>
{% endblock %}

{% block js_extra %}
<script type="text/javascript" src="{{ STATIC_URL }}js/posts_list.js"></script>
{% endblock %}

{% block content %}
<div id="personal_posts" class="account_content posts_list">
  <h1>Обьявления</h1>
  <div class="clearfix">
    <ul>
      {% for post in posts %}
      {% include "posts/list_item.html" %}
      {% endfor %}
    </ul>
  </div>

<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous or posts.has_next %}
    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}"> << </a>
    {% endif %}
    
    <span class="current">
      Страница {{ posts.number }} из {{ posts.paginator.num_pages }}
    </span>
    
    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}"> >> </a>
    {% endif %}

    {% endif %}
  </span>
</div>

</div>
{% endblock %}
