{% extends "base.html" %}
{% block content %}
<h1>Регистрация</h1>
<form method="post" action="">
  {% csrf_token %}
  <dl class="register">
    {% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd>{{ field }}
      {% if field.help_text %}<div>{{ field.help_text }}</div>{% endif %}
      {% if field.errors %}<div class="myerrors">{{ field.errors }}</div>{% endif %}
    </dd>
    {% endfor %}
  </dl>
  <input type="submit" value="Зарегистрироваться" / class="btn">
</form>
{% endblock %}
