
.ez-hide {
    opacity: 0;
    filter:alpha(opacity=0); 
}

.ez-radio {
    background: transparent url('radio.png') 0 0 no-repeat;
    display:inline-block;
    width:19px;
    height:19px;
    margin-right:4px;
}

.ez-selected {
    background-position: -19px 0;
}

.ez-checkbox, .ez-radio {
    zoom: 1; 
    *display:inline; _height:30px;
}
