{% extends "base.html" %}
{% load i18n inbox%}  

{% block head_extra %}
<script type="text/javascript" src="{{ STATIC_URL }}3party/tablesorter/jquery.tablesorter.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
      $('table').tablesorter({headers:{3:{sorter:false}}});
  })
</script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/messages.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}3party/tablesorter/style.css" />
{% endblock %}    

{% block content %}
<div id="messages-content">
{% block messages-content %}
{% endblock %}
</div>

{% endblock %}
