{% extends "django_messages/base.html" %} 

{% load i18n %} 

{% block messages-content %} 
<h1>{% trans "Compose Message"%}</h1>

<form action="" method="post">
{% csrf_token %} 
<ul>
  <li>
    <label>Кому</label>
    {{ form.recipient.value.0.get_full_name }} 
    <span style="display:none">{{ form.recipient }}</span>
  </li>
  <li>
    <label>{{ form.subject.label }}</label>
    {{ form.subject }}
  </li>
  <li>
    <label>{{ form.body.label }}</label> 
    {{ form.body }}
  </li>
</ul>

<input type="submit" class="button orange" value="{% trans "Send" %} &raquo;"/>
</form>

{% endblock %}
