{% extends "django_messages/base.html" %} 
{% load i18n %} 

{% block messages-content %}
<h1>Входящие сообщения</h1>
{% if message_list %} 
<table class="messages tablesorter">
  <thead>
    <tr>
      <th>{% trans "Sender" %}</th>
      <th>{% trans "Subject" %}</th>
      <th>{% trans "Received" %}</th>
      <th>{% trans "Action" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in message_list %} 
    <tr>
      <td>
        <a href="{% url "view_profile" profile_id=message.sender.get_profile.pk %}">
          {{ message.sender.get_full_name }}
        </a>
      </td>
      <td>
        {% if message.new %}<strong>{% endif %}
          {% if message.replied %}<em>{% endif %}
            <a href="{{message.get_absolute_url }}" {% if message.replied %}title="отвечено"{% endif %}>
              {{ message.subject }}
            </a>
            {% if message.replied %}</em>{% endif %}
          {% if message.new %}</strong>{% endif %}</td>
      <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
      <td>
        <a href="{% url "messages_delete" message.id %}">{% trans "delete" %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}  
{% endblock %}
