{% extends "django_messages/base.html" %} 
{% load i18n %} 

{% block messages-content %} 
<h1>{% trans "Sent Messages" %}</h1>
{% if message_list %} 
<table class="messages tablesorter">
  <thead>
    <tr>
      <th>{% trans "Recipient" %}</th>
      <th>{% trans "Subject" %}</th>
      <th>{% trans "Sent" %}</th>
      <th>{% trans "Action" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for message in message_list %} 
    <tr>
      <td>{{ message.recipient.get_full_name }}</td>
      <td>
        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
      </td>
      <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
      <td>
        <a href="{% url "messages_delete" message.id %}?next={% url "messages_outbox" %}">
          {% trans "delete" %}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
{% endblock %}
