{% extends "django_messages/base.html" %} 
{% load i18n %}

{% block messages-content %}
<h1>{% trans "View Message" %}</h1>

<h2>{{ message.subject }}</h2>

<ul>
  <li>
    <label>от</label>
    {{ message.sender.get_full_name }}
  </li>
  <li>
    <label>кому</label>
    {{ message.recipient.get_full_name }}
  </li>
  <li>
    <label>когда</label>
    {{ message.sent_at|date:_("DATETIME_FORMAT")}}
  </li>
</ul>

<div class="message_body">
{{ message.body|linebreaksbr }}
</div>

<div>
{% ifequal message.recipient.pk user.pk %}
<a href="{% url "messages_reply" message.id %}" class="button green">{% trans "Reply" %}</a>
{% endifequal %}
<a href="{% url "messages_delete" message.id %}" class="button orange">{% trans "Delete" %}</a>
</div>
{% endblock %}

