.account_content h1 .button{
    float:right;
}

.button.big.green{
    float:right;
}

.account_content h2{
    font-weight:bold;
    font-size:16px;
    color:#81c309;
    border-bottom:1px solid #81c309;
    padding-bottom:3px;
    margin-bottom:20px;
}

#personal_posts.account_content h2{
    border:none;
    color:#000;
    margin:0;
    padding:0;
}

.account_content h3{
    font-size:18px;
    font-weight:bold;
    color:#fe9800;
    padding-bottom:14px;
}

.account_content .clearfix{
    margin-bottom:20px;
}

.account_content .clearfix.profile-first{
    height:200px;
}

.account_content .col{
    float:left;
    padding-right:20px;
}

.account_content .col.avatar{
    width:160px;
}

.account_content .col img.profile_avatar{
    display:block;
    margin-bottom:10px;
}

.account_content .col .hidden_fileinput{
    display:none;
}

.account_content ul.info > li{
    font-weight:bold;
    line-height:24px;
    margin-bottom:10px;
}

.account_content ul.info li span.value{
    color:#fe9800;
    display:inline-block;
    vertical-align:middle;
}

.account_content ul.info li span.label{
    display:inline-block;
    width:250px;
}

.account_content ul.info li span.errors{
    display:inline-block;
    color:red;
}

.account_content textarea{
    resize:none;
    width:670px;
    height:100px;
}

select{
    width:170px;
}

.chzn-search{display:none}

#city_start_chzn .chzn-search, #intercity_start_chzn .chzn-search, #intercity_end_chzn .chzn-search {
    display:block
}

label[for*="id_search_target"] .ez-radio{
    margin-right:30px;
}

label[for*="id_search_target"]{
    display:block;
    height:21px;
    background-position:24px 0;
    background-repeat:no-repeat;
    padding:3px 0;
}

label[for="id_search_target_0"]{
    background-image:url('../img/passenger_icon_small.png');
}

label[for="id_search_target_1"]{
    background-image:url('../img/driver_icon_small.png');
}

textarea{
    padding:4px;
}

table td{
    font-weight:bold;
    font-family:"Tahoma"
}

table td.label.level-1{
    width:150px;
}

table td.label.level-2{
    width:150px;
}

table td.value{
    color:#de1c1c;
    font-size:105%;
}

table td.value.cost{
    font-size:150%;
    color:#81c309;
}

table td{
    padding:2px;
}

table tr.divider{
    height:15px;
}

#author_info{
    float:right;
    margin-right:25px;
}

#id_single_departure_0{
    width:75px;
    margin-right:10px;
}

 #id_single_departure_1{
     width:50px;
}