#posts > li{
    padding:0 5px 10px 5px;
    margin-bottom:30px;
    overflow:hidden;
}

#title{
    color:#81C309;
    margin-bottom:25px;
    font-weight:normal;
}

#posts li h2 {
    font-weight:normal   
}

#posts li .date, .post-detail .date{
    font-size:11px;
    color:#fff;
    background-color:#769bf7;
    padding:0px 2px;
    font-family:Verdana;
    position:relative;
    top:-8px;
} 

#posts li .body, .post-detail .body{
    padding: 5px 0;
    font-size:110%;
    line-height:20px;
}

.post-detail .body{
    margin:5px 0;
}

#posts li .body p, .post-detail .body p{
    padding:5px 0;
}

#posts li .body p:first-letter, .post-detail .body p:first-letter{
    margin-left:5px;
}

#posts li a.button{

}