.button, .button:visited, .button:active{
    color:#fff;
    text-decoration:none;
    padding:4px 10px;
    border-radius:3px;
    border:none;
    cursor:pointer;
    display:inline-block;
}

.button.orange{
    background:url('../img/orange_button.png') 0 0 repeat-x;
}

.button.green{
    background:url('../img/light-gray-gradient.png') 0 0 repeat-x;
    font-weight:bold;
}

.button.grey{
    background:url('../img/grey_button.png') 0 0 repeat-x;
}

.button.red{
    background:url('../img/red_big_button.png') 0 0 repeat-x;
}

.button.big{
    font-size:14px;
    padding:10px 45px;
}

.button.green.big{
    background:url('../img/green_big_button.png') 0 0 repeat-x;
}