/* Reset section */
*{
    margin:0;
    padding:0;
}

ul, ol{
    margin:0;
    padding:0;
}

li{
    margin:0;
    padding:0;
    list-style-type:none;
}

a, a:focused, img, img:focused{
    outline:none;
}

a, a:visited, a:active{
    color:#404040;
    text-decoration:underline;
}

a:hover{
    text-decoration:none;
}

textarea{
    resize:none;
    padding:3px 5px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus{
    box-shadow: inset 0px 0px 2px 1px #A4DA42;
}

input[type="text"], input[type="password"], select{
    border:1px solid #b7b6b6;
    padding:3px 5px;
    margin:3px 0;
    width:160px;
    font-size:14px;
}

/**/
.float-right{
    float:right;
}
.float-left{
    float:left;
}
/**/
html, body{
    color:#404040;
    background-color:#e9e8e8;
    font-size:14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height:100%;
}

body{
    background:
    url('../img/punktir.png') 0 0 repeat-x,
    url('../img/punktir.png') 0 bottom repeat-x;
}

#wrap{
    background-color:#fff;
    min-height:98%;
    width:1024px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin:0 auto;
    overflow:hidden;
    padding: 0 40px;
    position:relative;
    z-index:2;
}

#header{
    height:82px;
    margin-bottom:26px;
    background:url('../img/logo1.png') 0 0 no-repeat  #93cb2d;
    padding-right:3px;
}

.home-link{
    display:inline-block;
    width:400px;
    height:79px;
}

#menu{
    float:right;
    border:1px solid #8ac528;
    border-top:none;
}

#menu li{
    float:left;
    background:51px 10px #a4da42 no-repeat;
    text-shadow: #acacac 2px 1px 2px;
}

#menu li a{
    display:block;
    text-align:center;
    font-size:16px;
    width:128px;
    overflow:hidden;
    color:#fff;
    padding:5px 0 15px 0;
}

#menu li .menu_icon{
    width:25px;
    height:25px;
    margin:6px auto;
    background:url('../img/main_menu_sprite.png') 0 0 no-repeat;
}

#menu li #search .menu_icon{
    background-position:-75px 0;
}

#menu li #blog .menu_icon{
    background-position:-25px 0;
}

#menu li #faq .menu_icon{
    background-position:-50px 0;
}

#menu li:hover, #menu li.active{
    background-color:#b0e157;
    text-decoration:none;
}


#menu li a#search{
    border-left:1px solid #8AC528;
}

#menu li a#blog{
    border-left:1px solid #8ac528;
    border-right:1px solid #8ac528;
}



#content{
    overflow:hidden;
}

#sidebar{
    float:left;
    width:250px;
}

#user-block{
    background:#f0f0f0;
    border-bottom: 2px solid #93CB2D;
    margin-bottom:15px;
}

.grey_pane{
    background-color:#f0f0f0;
    padding:20px 5px;
    margin-bottom:25px;
}

#post_add_btn .button{
    font-size:120%;
    padding:10px;
    margin-left:25px;
}

#post_add_btn .button.red span{
    background:url('../img/add_post_icon.png') center left no-repeat;
    padding-left:30px
}

h1 .button{
    margin:0 3px;
    font-size:14px;
}

#main #messages-content h1, #main .account_content h1{
    font-weight:bold;
    font-size:20px;
    color:#81c309;
    border-bottom:1px solid #81c309;
    padding-bottom:15px;
    margin-bottom:15px;
}

#password-reset-link{
    margin-top:10px;
    display:block;
}

#user-block h4{
    background-color:#93cb2d;
    color:#fff;
    padding:5px 0;
    text-align:center;
    border-bottom:2px solid #fff;
    text-shadow: #72a615 2px 1px 2px;
    font-size:20px;
}

#user-block h4.login{
    background:url('../img/key.png') 200px center no-repeat #93CB2D;
}

#user-block form{
    padding:5px 15px;
    margin:0;
}

#user-block #user-menu{
    padding:5px 25px 25px 25px;
}

#user-block #user-menu li {
    font-weight:bold;
    font-size:15px;
    line-height:29px;
}

#user-block #user-menu li li{
    padding-left:15px;
    font-size:90%;
    line-height:18px;
}

#user-block #user-menu li a.active{
    text-decoration:none;
}

#submit{
    overflow:hidden;
    padding:10px 0;
}

#ulogin-wrap{
    display:inline-block;
    float:right;
    margin-top:-5px;
}

#ulogin-wrap img{
    vertical-align:top;
}

#id_username, #id_password{
    width:205px;
}

.faq-top{
    padding: 5px 0 0 110px;
    background:url('../img/faq_img.png') 0 0 no-repeat;
    height:80px;
}

.faq-top p{
    font-size:120%;
}

#main{
    margin-left:280px;
}

#footer{
    border-top:1px solid #eee;
    text-align:right;
    padding: 5px 0 20px 0;
    margin-top:50px;
    height:50px;
}

#footer a{
    color:#fff;
    line-height:20px;
    text-decoration:none;
    font-weight:bold;
}


.posts_list ul li{
    display:block;
    overflow:hidden;
    margin-bottom:25px;
    padding:15px;
} 

.posts_list ul li .post-col{
    float:right;
    text-align:right;
}

.posts_list ul li .col-1{
    width:150px;
    margin-right:15px;
}

.posts_list ul li .col-1 a{
    color:#ff9800;
}

.posts_list ul li .col-1 .ico{
    width:36px;
    height:36px;
    background:url('../img/dp-sprite.png') 0 0 no-repeat;
    float:right;
}

.posts_list ul li .col-1 .ico.target-0{
    background-position:-38px 0;
}

.posts_list ul li .col-2{
    width:380px;
    text-align:left;
}

.posts_list ul li .col-2 h2 a{
    color:#de1c1c;
    font-weight:normal;
}

.posts_list ul li .col-3{
    width:140px;
    text-align:left;
}

.posts_list ul li .col-3 .message_compose{
    padding:5px 21px;
}

.posts_list li .col-2 .control{
    display:inline-block;
    width:16px;
    height:16px;
    background:url('../img/controls.png') 0 0 no-repeat;
    margin:0 3px;
    position:relative;
    top:-10px
}

.posts_list li .col-2 .edit-post{
    background-position:-36px 0;
}

.posts_list li .col-2 .edit-post:hover{
    background-position:-51px 0;
}

.posts_list li .col-2 .delete-post{
    background-position:0 0;
}

.posts_list li .col-2 .delete-post:hover{
    background-position:-19px 0;
}

.posts_list li:nth-child(even){
    background-color:#f7f5f5;
}

#post_detail h1 .ico{
    width:36px;
    height:36px;
    background:url('../img/dp-sprite.png') -40px 0 no-repeat;
    float:left;
    margin-right:5px;
}

#post_detail h1 .ico.target-1{
    background-position:0 0;
}