#search-form{
    padding:15px;
    background:#f0f0f0;
    #overflow:hidden;
}

#search-form label.point{
    display:block;
    font-size:18px;
}

#search-form input[type="text"]{
    font-size:20px;
    width:500px;
    border-radius:5px;
    padding:10px;
}

#search-form input[type="submit"]{
    border:none;
    color:#fff;
    background:url("../img/red_big_button.png") 0 0 repeat-x;
    border-radius:7px;
    padding:13px;
    cursor:pointer;
    font-size:18px;
}

.top-line{
    overflow:hidden;
}

.chzn-container{
    vertical-align:sub;
}

.me{
    font-size:30px;
    float:left;
    padding-top:5px;
    margin-right:10px;
}

.search-target-choice label{
    display:block;
    width:180px;
    margin:2px 0;
}

.banner-top{
    margin:10px 0;
}

.recent-posts ul.passengers-posts{
    float:right;
}

.recent-posts ul.drivers-posts{
    float:left;
}

.recent-posts  h3{
    color:#fff;
    padding: 10px 0 10px 20px;
    font-size:21px;
    width:320px;
}

.recent-posts ul.passengers-posts h3{
    background-color: #ffa218;
    text-shadow: #ed7a14 2px 1px 2px;
}

.recent-posts ul.drivers-posts h3{
    background-color: #93cb2d;
    text-shadow: #7eb120 2px 1px 2px;
}

.recent-posts h3 span.icon{
    display:inline-block;
    width:42px;
    height:33px;
    margin:-3px 15px;
    float:right;
    background: url('../img/dp-sprite-light.png') 0 0 no-repeat;
}

.recent-posts ul.passengers-posts h3 span.icon{
    background-position:-42px 0;
}

.recent-posts ul li{
    padding:8px;
    overflow:hidden;
    margin:5px 0;
}

.recent-posts ul.passengers-posts li:nth-child(even), .recent-posts ul.drivers-posts li:nth-child(odd){
    background-color:#f7f5f5;
}

.recent-posts li .right-column{
    float:right;
    width:210px;
}

.recent-posts li .left-column{
    float:left;
}

.recent-posts li label{
    display:inline-block;
    width:60px;
}

.recent-posts li a.profile-link{
    display:inline-block;
    padding-bottom:5px;
}

.recent-posts li a.post-detail-link, .recent-posts li a.post-accept-link{
    display:inline-block;
    margin-top:5px;
    color:#de1c1c;
    font-weight:bold;
}

.recent-posts li a.post-detail-link{
    margin-right:10px;
}

.recent-posts a.posts-bottom{
    padding:5px 15px;
    color:#fff;
    display:block;
    font-weight:bold;
}

.recent-posts .passengers-posts .posts-bottom{
    background-color:#FFA218;
}

.recent-posts .drivers-posts .posts-bottom{
    background-color:#93CB2D;
}