#main h1{
    margin-bottom:20px;
}

 ul.topics_list{
     padding:5px;
 }

ul.questions_list{
    padding: 5px 10px;
}

ul.questions_list li{
    padding:2px 0;
}

 h3{
    display:inline;
    padding:1px 3px;
}

dd{
    padding-left:20px;
}