table{
    margin-top:30px;
}

td, th{
    padding:5px 30px;
}

tr:nth-child(2n+1){
    background-color: #F7F5F5;
}

label{
    width:100px;
    float:left;
    font-weight:bold;
}

textarea{
    border: 1px solid #b7b6b6;
    vertical-align:top;
    width:600px;
}

#messages-content li{
    overflow:hidden;
    padding:5px 0;
}

#messages-content button{
    margin:10px;
}

#messages-content .message_body{
    padding: 20px 5px;
    font-size:120%;
    font-famliy:"Tahoma";
    margin:20px 0;
}

#messages-content #id_subject{
    width:590px;
}