{% extends "faq/base.html" %}

{% block body %}
<h1 id="top">Часто задаваемые вопросы</h1>
<h2>Разделы</h2>
<ul class="topics_list">
  {% for topic in topics %}
  <li>
    <h3>{{ topic }}</h3>
    <ul class="questions_list">
      {% for question in topic.questions.all %}
      <li>
	<a href="#question-{{question.pk}}"> {{ question.text}} </a>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
<hr>
<h2>Ответы</h2>
<ul class="topics_list">
  {% for topic in topics %}
  <li>
    <ul class="questions_list">
      {% for question in topic.questions.all %}
      <li id="auestion-{{ question.id }}">
	<dl>
	  <dt>
	    <h4><a href="#top">{{ question.text}}</a></h4>
	  </dt>
	  <dd>
	    {{ question.answer }}
	  </dd>
	</dl>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>

{% endblock %}
