{% extends "base.html" %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/blog.css"/>
{% endblock %}

{% block content %}
<ul id="posts">
  <h1 id="title">Блог</h1>
  {% for post in posts %}
  <li>
    <h2>
      <a href="{% url 'blog_post_detail' post_id=post.id %}">{{ post.title }}</a>
      <span class="date">{{ post.created_on|date:"d.m.y" }}</span>
    </h2>

    <div class="body">
      {{ post.body|safe|truncatewords:50 }}
    </div>
    <a class="button grey" href="{% url 'blog_post_detail' post_id=post.id %}">Полностью →</a>
  </li>
  {% endfor %}
</ul>

<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous or posts.has_next %}
    {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}"> << </a>
    {% endif %}
    
    <span class="current">
      Страница {{ posts.number }} из {{ posts.paginator.num_pages }}
    </span>
    
    {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}"> >> </a>
    {% endif %}

    {% endif %}
  </span>
</div>
{% endblock %}
