{% extends "base.html" %}

{% load disqus_tags %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/blog.css"/>
{% endblock %}

{% block content %}
<div class="post-detail">
  <h1 id="title">{{ post.title }}</h1>
  <span class="date">{{ post.created_on|date:"d.m.y" }}</span>
  <div class="body">
    {{ post.body|safe}}
  </div>

  <h1>Комментарии</h1>
  {% disqus_show_comments %}
</div>

{% endblock %}
