{% load i18n inbox ulogin_tags main_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MyWay {% block title_extra %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/common.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/buttons.css"/>

    <script type="text/javascript" src="{{ STATIC_URL }}3party/jquery.js"></script>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}3party/chosen/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}3party/chosen/chosen.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}3party/ezMark/jquery.ezmark.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}3party/ezMark/ezmark.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}3party/raty/jquery.raty.min.js"></script>

    <script src="{{ STATIC_URL }}3party/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>

    {% block head_extra %}{% endblock %}
    {% block css_extra %}{% endblock %}
    {% block js_extra %}{% endblock %}
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <a class="home-link" href="{% url 'dashboard' %}"></a>
        <ul id="menu">
          <li class="{% navactive request 'dashboard' %}">
            <a id="home" href="{% url "dashboard" %}" >
              <div class="menu_icon"></div>
              Главная
            </a>
          </li>
          <li class="{% navactive request 'search' %}">
            <a id="search" href="{% url "dashboard" %}">
              <div class="menu_icon"></div>
              Поиск
            </a>
          </li>
          <li class="{% navactive request 'blog_post_list blog_post_detail' %}">
            <a id="blog" href="{% url 'blog_post_list' %}" >
              <div class="menu_icon"></div>
              Блог
            </a>
          </li>
          <li class="{% navactive request 'faq_topic_list ' %}">
            <a id="faq" href="{% url "faq_topic_list" %}">
              <div class="menu_icon"></div>
              F.A.Q.
            </a>
          </li>
        </ul>
      </div>
      <div id="content">
        <div id="sidebar">
          <div id="user-block">
            {% if user.is_anonymous %}
            <div id="login-form">
              <h4 class="login">Вход</h4>
              <form method="post" action="{% url "django.contrib.auth.views.login" %}">
                <div id="credentials">
                  {% csrf_token %}
                  {{ auth_form.username }}
                  {{ auth_form.password }}
                </div>
                <div id="submit">
                  <input type="submit" class="button green" value="Войти" />
                  <a class="button orange" href="{% url "registration_register" %}" id="reg-ling">Регистрация</a>
                  <a href="{% url "auth_password_reset" %}" id="password-reset-link">Вспомнить пароль</a>
                  <input type="hidden" name="next" value="/" />
                </div>
                
                <div>{% ulogin_widget %}</div>
                
              </form>
              {% else %}
              <h4>{{ request.user.get_full_name }}</h4>
              <div id="user-menu">
                <ul>
                  <li>
                    <a href="{% url "all_posts" %}?filter=personal" class="{% navactive request 'personal_posts post_add post_edit all_posts' %}">
                      Обьявления
                    </a>
                    <ul>
                      <li>
                        &middot
                        <a href="{% url "recommended_posts" %}">Рекомендованные</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="{% url "messages_inbox" %}" class="{% navactive request 'messages_inbox messages_outbox messages_compose_to messages_reply messages_detail messages_trash' %}">
                      Сообщения
                    </a>
                    <ul>
                      <li>
                        &middot
                        <a href="{% url "messages_inbox" %}" class="{% navactive request 'messages_inbox' %}">
                          Входящие
                          {% inbox_count as new_messages %}
                          {% if new_messages %} (+{{new_messages}}) {% endif %}
                        </a>
                      </li>
                      <li>&middot <a href="{% url "messages_outbox" %}" class="{% navactive request 'messages_outbox' %}">
                          Отправленные
                        </a>
                      </li>
                      <li>&middot<a href="{% url "messages_trash" %}" class="{% navactive request 'messages_trash' %}">Корзина</a></li>
                    </ul>
                  </li>
                  <li> 
                    <a href="{% url "view_profile" profile_id=request.user.get_profile.pk %}">Профайл</a>
                  </li>
                  <li><a href="{% url "django.contrib.auth.views.logout" %}">Выход</a></li>
                </ul>
                {% endif %}
              </div>
            </div>
            <div id="post_add_btn" class="grey_pane">
              <a class="button red" href="{% url "post_add" %}">
                <span>Новое обьявление</span>
              </a>
            </div>
            <div id="faq-block">
              <div class="faq-top">
                <p>КУДА я попал?</p>
                <p>ЧТО это за сайт?</p>
                <p>ДЛЯ чего это все?</p>
              </div>
              <div class="faq-bottom">
                Ответы на эти и другие вопросы можно найти в разделе
                <a href="{% url "faq_topic_list" %}"><b>F.A.Q.</b></a>
              </div>
            </div>
            {% block sidebar %}
            {% endblock %}
          </div>
          <div id="main">
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <div id="footer">
          MyWay 2013
        </div>
      </div>
    </div>
  </body>
</html>
