{% extends "base.html" %}
{% load i18n %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/dashboard.css"/>
{% endblock %}

{% block js_extra %}
<script src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}

{% block content %}

{% include "search_form.html" %}

<div class="banner-top">
  <img src="{{ STATIC_URL }}img/banner_dummy.jpg" width="100%" height="80px">
</div>
  
<div class="recent-posts">
  <ul class="passengers-posts">
    <h3>Поедут<span class="icon"></span></h3>
    {% for item in passengers_posts %}
    {% include "posts/list_item_dashboard.html" %}
    {% endfor %}
    <a href="{% url "all_posts" %}?filter=passengers" class="posts-bottom">
      Все пассажиры &rarr;
    </a>
  </ul>
  
  <ul class="drivers-posts">
    <h3>Подвезут<span class="icon"></span></h3>
    {% for item in drivers_posts %}
    {% include "posts/list_item_dashboard.html" %}
    {% endfor %}
    <a href="{% url "all_posts" %}?filter=drivers" class="posts-bottom">
      Все водители &rarr;
    </a>
  </ul>
</div>
{% endblock %}
