<form action="{% url "search" %}" method="POST" id="search-form">
  {% csrf_token %}
  <div class="top-line">
    <span class="search-target-choice">
      <div class="me">Я</div>
      <label for="city-driver"><input id="city-driver" type="radio" name="search-target" value="0">Водитель</label>
      <label for="city-passenger"><input id="city-passenger" type="radio" name="search-target" value="1">Пассажир</label>   
    </span>
  </div> 

  <label for="from" class="point">
    Откуда
    <input type="text" id="from" name="from"  placeholder="Город, адресс или название обьекта" />
  </label>

  <label for="to" class="point">
    Куда
    <input type="text" id="to" name="to" placeholder="Город, адресс или название обьекта" />
  </label>

  <input type="submit" value="Поиск" />

</form>
