{% extends "base.html" %}
{% load i18n %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/account.css"/>
{% endblock %}

{% block js_extra %}
<script type="text/javascript" src="{{ STATIC_URL }}3party/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/profile.js"></script>
{% endblock %}

{% block content %}
<div id="profile_view" class="account_content">
  <h1>
    <a href="{% url "view_profile" profile_id=request.user.get_profile.pk %}" class="button orange">
      {% trans "Отмена" %}
    </a>
    {% trans "Профиль пользователя" %}
  </h1>

    <div class="clearfix profile-first">
      <div class="col">
        <img class="profile_avatar" width="165" height="165" src="{% if form.instance.photo %}/{{ form.instance.photo.url }}{% else %}{{ STATIC_URL }}img/default_user.png {% endif %}" />
        <form method="POST" action="{% url "update_avatar" %}" enctype="multipart/form-data" id="image-form">
          {% csrf_token %}
          <a class="button orange change_avatar" href="#">
            {% trans "Изменить" %}
          </a>
          <a class="button grey delete_avatar" href="#">
            {% trans "Удалить" %}
          </a>
          <input type="file" name="avatar" class="hidden_fileinput" />
        </form>
      </div>
      <form method="POST" action="" enctype="multipart/form-data" >
        {% csrf_token %}
      <div class="col">
        <h3>{{ form.first_name }}  {{ form.last_name }}</h3>
        <ul class="info">
          <li>
            <span class="label">{% trans "Пол:" %}</span>
            <span class="value">{{ form.gender }}</span>
          </li>
          <li>
            <span class="label">{% trans "Возраст:" %}</span>
            <span class="value">{{ form.age }}</span>
          </li>
          <li>
            <span class="label">{% trans "Отношение к курению:" %}</span>
            <span class="value">{{ form.smoking }}</span>
          </li>
          <li>
            <span class="label">{% trans "Музыка:" %}</span>
            <span class="value">{{ form.music }}</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="clearfix">
      <h2>{% trans "Контакты" %}</h2>
      <ul class="info">
        <li>
          <span class="label">{% trans "Телефон:" %}</span>
          <span class="value">{{ form.phone }}</span>
        </li>
        <li>
          <span class="label">{% trans "e-mail:" %}</span>
          <span class="value">{{ form.email }}</span>
        </li>
        <li>
          <span class="label">{% trans "Страница в соц. сети:" %}</span>
          <span class="value">{{ form.social_network_link }}</span>
        </li>
        <li>
          <span class="label">{% trans "skype:" %}</span>
          <span class="value">{{ form.skype_name }}</span>
        </li>
        <li>
          <span class="label">{% trans "ICQ:" %}</span>
          <span class="value">{{ form.icq }}</span>
        </li>
      </ul>
    </div>
    <div class="clearfix">
      <h2>{% trans "Дополнительная информация" %}</h2>
      <p>{{ form.about }}</p>
    </div>
    <div class="clearfix">
      <input type="submit" value="{% trans 'Сохранить' %}" class="button green big" />
    </div>
  </form>
</div>
{% endblock %}
