{% extends "base.html" %}
{% load i18n %}

{% block css_extra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/account.css"/>
{% endblock %}

{% block content %}
<div id="profile_view" class="account_content">
  <h1>
    {% if profile.pk == request.user.get_profile.pk %}
    <a class="button orange" href="{% url "update_profile" %}">{% trans "Редактировать" %} </a>
    {% endif %}
    {% trans "Профиль пользователя" %} 
  </h1>
  <div class="clearfix">
    <div class="col">
      <img width="150" height="150" src="{% if profile.photo %}/{{ profile.photo.url }}{% else %}{{ STATIC_URL }}img/default_user.png {% endif %}" />
    </div>
    <div class="col" style="float:none;">
      <h3>{{ profile.user.first_name }}  {{ profile.user.last_name }}</h3>
      <ul class="info">
        <li>
          <span class="label">{% trans "Пол:" %}</span>
          <span class="value">{{ profile.get_gender_display }}</span>
        </li>
        <li>
          <span class="label">{% trans "Возраст:" %}</span>
          <span class="value">{{ profile.age|default_if_none:"&nbsp;" }}</span>
        </li>
        <li>
          <span class="label">{% trans "Отношение к курению:" %}</span>
          <span class="value">{{ profile.get_smoking_display }}</span>
        </li>
        <li>
          <span class="label">{% trans "Музыка:" %}</span>
          <span class="value">{{ profile.music|default_if_none:"&nbsp;" }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="clearfix">
    <h2>{% trans "Контакты" %}</h2>
    <ul class="info">
      <li>
        <span class="label">{% trans "Телефон:" %}</span>
        <span class="value">{{ profile.phone|default_if_none:"&nbsp;" }}</span>
      </li>        
      <li>
        <span class="label">{% trans "e-mail:" %}</span>
        <span class="value"><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></span>
      </li>        
      <li>
        <span class="label">{% trans "Страница в соц. сети:" %}</span>
        <span class="value">
          {% if profile.social_network_link != none %}
          <a href="{{ profile.social_network_link }}" target="blank">
            {{ profile.social_network_link }}
          </a >
          {% endif %}
        </span>
      </li>        
      <li>
        <span class="label">{% trans "skype:" %}</span>
        <span class="value">{{ profile.skype_name|default_if_none:"&nbsp;" }}</span>
      </li>        
      <li>
        <span class="label">{% trans "ICQ:" %}</span>
        <span class="value">{{ profile.icq|default_if_none:"&nbsp;" }}</span>
      </li>        
    </ul>
  </div>
  <div class="clearfix">
    <h2>{% trans "Дополнительная информация" %}</h2>
    <p>
      <span style="font-size:36px">&#147;</span>
      {{ profile.about|default_if_none:"&nbsp;" }}
      <span style="font-size:36px">&#148;</span>
    </p>
  </div>
</div>
{% endblock %}
